.display {
  width: 100%;
  height: 80px;
  // min-height: 20%;
  // max-height: min-content;
  background-color: rgba(29, 27, 27, 0.151);
  box-shadow: 36px 15px 96px -10px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 36px 15px 96px -10px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 36px 15px 96px -10px rgba(0, 0, 0, 0.82);
  color: white;
  word-break: break-all;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5px;
  font-weight: bold;
}

.currentNumber {
  font-size: 25px;
}

.previousNumber {
    color: rgb(182,182,182);
    font-size: 18px;
}

.mathSign {
    font-size: 22px;
}
